<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitiesHarmony.API" version="2.1.0" targetFramework="net35" />
  <package id="CitiesHarmony.Harmony" version="2.2.0" targetFramework="net35" developmentDependency="true" />
  <package id="Mono.Unofficial.pdb2mdb" version="4.2.3.4" targetFramework="net35" />
  <package id="UnifiedUILib" version="2.2.0" targetFramework="net35" />
</packages>